{% extends "base.html"%}
{% block start %}
<!----start-container----->
		<div class="head-bg-custom sTop">
			<div class="container">
				<div class="col-lg-12 header-note-custom">
					<h1>Articles.Free</h1>
					<a class="btn btn-primary big-btn" href="#">Publicar<span> </span></a>
				</div>
			</div>
		</div>
		<!----//End-container----->
{% endblock %}
{% block nav %}
    <!----start-top-nav---->
    <nav class="subMenu-custom navbar-custom navbar-scroll-top" role="navigation">
{% endblock %}
{% block content %}
    <!-- header -->
		<section class="container page-home">
			<h4 class="home-h4">Artigos</h4>
			<p class="contact-head">Bem vindo ao <strong>Articles.Free</strong>.<br>Fique à vontade para ler ou publicar!</p>
			<div id="main-content" class="wrap-container zerogrid row section s1 top-grids">
				<div class="col-md-9 span_2_of_3">
					<div class="blog_grid wrap-container row section s1">
						<h2>{{ article }}</h2>
						<iframe src= "{{ article.content.url }}" width="870" height="1200" style="border: none;" type='application/pdf'></iframe>
					</div>
				</div>
				<div class="col-md-3 rsidebar span_1_of_3 services_list">
					<ul>
						<h2><span>Categorias</span></h2>
						<li><a href="#">augue duis dolore te feugai</a></li>
						<li><a href="#">lius quod ii legunt saepius</a></li>
						<li><a href="#">Mirum est notare quam littera</a></li>
						<li><a href="#">Maecenas eu ante dolor</a></li>
						<li><a href="#">hendrerit in vulputate velit</a></li>
					</ul>
					<ul class="archive-list">
						<h2><span>Arquivo</span></h2>
						<li><a href="#">Feb 2013</a></li>
						<li><a href="#">November 2013</a></li>
						<li><a href="#">June 2013</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</section>
{% endblock %}