{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="{% url 'core:home' %}">Home</a><span>/</span><a href="{% url 'articles:index' %}">Artigos</a><span>/</span><a href="#">Leitura</a>
		</div>
	</div>
{% endblock %}
{% block content %}					
	<div>
		<h1 class="title text-center">Leitura</h1>
		<section>
			<h2 class="title">{{ article }}</h2>
			<footer class="categ"><strong>{{ article.category }}</strong></footer>
			<hr class="title">
			<footer class="detail">Publicado por <em>{{ article.author.first_name }} {{ article.author.last_name }}</em>, em {{ article.publication_date}}</footer>
			<iframe src= "{{ article.content.url }}" type='application/pdf'></iframe>
		</section>
	</div>
{% endblock %}
				