{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
        <div>
            <a href="#">Home</a><span>/</span><a href="#">Dashboard</a><span>/</span><a>Editar Publicação</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="title text-center">Editar Publicação</h1>
        <section>
            <div class="container">
            <h2 class="title">Dados do artigo</h2>
            <div>
                <div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="publication">
                            {{ form.non_field_errors }}
                            {% for field in form %}
                            {{ field }}
                            {{ field.errors }}
                            {% endfor %}
                            <button type="submit" class="btn but fright">Publicar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        </section>
    </div>
{% endblock %}