{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="#">Artigos</a><span>/</span>
		</div>
	</div>
{% endblock %}
{% block content %}					
<div>
	<h1 class="title">Artigos</h1>
	<section>
		<h2 class="title">Título do Artigo Título do Artigo Título do Artigo Título do Artigo Título do Artigo</h2>
		<footer class="categ">Categoria</footer>
		<hr class="title">
		<p>We are proud of our company, not only for its unqiue identity, but because of the people that drive it! Listed here are the most seasoned members of the AmazingBiz team, arbitrary. We are proud of our company, not only for its unqiue identity, but because of the people that drive it! Listed here are the most seasoned members of the AmazingBiz team.</p><p>We are proud of our company, not only for its unqiue identity, but because of the people that drive it! Listed here are the most seasoned members of the AmazingBiz team, arbitrary. We are proud of our company, not only for its unqiue identity, but because of the people that drive it! Listed here are the most seasoned members of the AmazingBiz team.</p>
		<a href="#" class="btn but">Ler</a>
		<footer class="title">Publicado por <em>XXXXXXXXXXXXXXXXXX</em>, em 20/04/2020</footer>
		<hr>
	</section>
</div>
{% endblock %}