{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="{% url 'core:home' %}">Home</a><span>/</span><a href="#">Artigos</a>
		</div>
	</div>
{% endblock %}
{% block content %}					
<div>
	<h1 class="title text-center">Artigos</h1>
{% for articles in articles %}
	<section>
		<h2 class="title">{{ articles }}</h2>
		<footer class="categ">{{ articles.category }}</footer>
		<hr class="title">
		<p>{{ articles.abstract }}</p>
		<a href="{{ articles.get_absolute_url }}" class="btn but">Ler</a>
		<footer class="title">Publicado por <em>{{ articles.author }}</em>, em {{ articles.publication_date }}</footer>
		<hr>
	</section>
{% endfor %}
</div>
{% endblock %}