{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="{% url 'core:home' %}">Home</a><span>/</span><a href="#">Dashboard</a>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div>
        <h1>Minhas Publicações</h1>
            {% if articler %}
                <aside class="fright col-lg-2">
                    <fieldset>
                        <p class="nome">Olá, {{ user.first_name }}!</p>
                        <h6 class="fleft">Minhas Publicações</h6>
                        <ul>
                            <li><a href="{% url 'accounts:publication' %}">Publicar</a></li>
                            <li><a href="#">Gerenciar</a></li>
                            <hr>
                        </ul>
                        <h6 class="fleft">Minha Conta</h6>
                        <ul>
                           <li> <a href="{% url 'accounts:edit' %}">Alterar dados</a></li>
                            <li><a href="{% url 'accounts:password' %}">Trocar senha</a></li>
                        </ul>
                    </fieldset>
                </aside>
                {% for articler in articler %}
                <section class="col-lg-10">
                    <div>
                        <h2><a href="{{ articler.get_absolute_url }}">{{ articler.title }}</a></h2>
                        <footer class="category">{{ articler.category }}</footer>
                        <hr class="article">
                        <p>{{ articler.abstract|truncatechars:'500' }}</p>
                        <footer class="date">Publicado em {{ articler.publication_date }}.</footer>
                        <br>
                        <hr class="article">
                    </div>
                </section>
                {% endfor %}
            {% else %}
                <aside class="fright col-lg-2">
                    <fieldset>
                        <p class="nome">Olá, {{ user.first_name }}!</p>
                        <h6 class="fleft">Minhas Publicações</h6>
                        <ul>
                            <li><a href="{% url 'accounts:publication' %}">Publicar</a></li>
                        </ul>
                        <hr>
                        <h6 class="fleft">Minha Conta</h6>
                        <ul>
                            <li><a href="{% url 'accounts:edit' %}">Alterar dados</a></li>
                            <li><a href="{% url 'accounts:password' %}">Trocar senha</a></li>
                        </ul>
                    </fieldset>
                </aside>
                <section class="col-lg-10 dashnihil">
                    <div>
                        <h2 class="dashnihil">Você não tem nenhuma publicação!</h2>
                        <a href="{% url 'accounts:publication' %}" class="btn but dashnihil">Publicar Agora!</a>
                    </div>
                </section>
            {% endif %}
    </div>
{% endblock %}