{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="{% url 'core:home' %}">Home</a><span>/</span><a href="#">Cadastrar</a>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="title text-center">Dashboard</h1>
        <h2 class="fleft">Minhas Publicações</h2>
        <section>
            <aside class="fright col-lg-2">
                <fieldset class="fleft">
                    <h4 class="fleft">Minhas Publicações</h4>
                    <ul class="fleft">
                        <li>Publicar</li>
                        <li>Editar</li>
                        <li>Excluir</li>
                    </ul>
                    <h4 class="fleft">Minha Conta</h4>
                    <ul class="fleft">
                        <li>Alterar dados</li>
                        <li>Trocar senha</li>
                    </ul>
                </fieldset>
            </aside>
            {% for articler in articler %}
            <div class="col-lg-10">
                <h2 class="title"><a href="#">{{ articler.title }}</a></h2>
                <footer class="categ">{{ articler.category }}</footer>
                <hr class="title">
                <p class="dash">{{ articler.abstract }}</p>
                <footer class="title">Publicado em {{ articler.publication_date }}.</footer>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}