{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="{% url 'core:home' %}">Home</a><span>/</span><a href="#">Dashboard</a>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div>
        <h1>Minhas Publicações</h1>
            {% if articler %}
                <aside class="fright col-lg-2">
                    <fieldset class="fleft">
                        <p class="nome">Olá, {{ user.first_name }}!</p>
                        <h5 class="fleft">Minhas Publicações</h5>
                        <ul class="fleft">
                            <a href="{% url 'accounts:publication' %}"><li>Publicar</li></a>
                            <a href="#"><li>Gerenciar</li></a>
                            <li>Excluir</li>
                            <hr>
                        </ul>
                        <h5 class="fleft">Minha Conta</h5>
                        <ul class="fleft">
                            <a href="{% url 'accounts:edit' %}"><li>Alterar dados</li></a>
                            <a href="{% url 'accounts:password' %}"><li>Trocar senha</li></a>
                        </ul>
                    </fieldset>
                </aside>
                {% for articler in articler %}
                <section class="col-lg-10">
                    <div>
                        <h2><a href="{{ articler.get_absolute_url }}">{{ articler.title }}</a></h2>
                        <footer class="categ">{{ articler.category }}</footer>
                        <hr class="title">
                        <p class="dash">{{ articler.abstract|truncatechars:'440' }}</p>
                        <footer class="title">Publicado em {{ articler.publication_date }}.</footer>
                        <br>
                        <hr class="title">
                    </div>
                </section>
                {% endfor %}
            {% else %}
                <aside class="fright col-lg-2">
                    <fieldset class="fleft">
                        <p class="nome">Olá, {{ user.first_name }}!</p>
                        <h5 class="fleft">Minhas Publicações</h5>
                        <ul class="fleft">
                            <a href="{% url 'accounts:publication' %}"><li>Publicar</li></a>
                        </ul>
                        <h5 class="fleft">Minha Conta</h5>
                        <ul class="fleft">
                            <a href="{% url 'accounts:edit' %}"><li>Alterar dados</li></a>
                            <a href="{% url 'accounts:password' %}"><li>Trocar senha</li></a>
                        </ul>
                    </fieldset>
                </aside>
                <section class="col-lg-10">
                    <div class="text-center">
                        <h2>Você não tem nenhuma publicação!</h2>
                        <a href="{% url 'accounts:publication' %}" class="btn but spc-b">Publicar Agora!</a>
                    </div>
                </section>
            {% endif %}
    </div>
{% endblock %}