{% extends 'base.html' %}
{% block content %}
    <div class="container">
		<h1 class="title text-center">Esqueceu a senha?</h1>
		<section>
			<div class="container">
                <h2 class="title">Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para definir uma nova.</h2>
                <div>
                    <div>
                        <form method="POST">
                        {% csrf_token %}
                            <fieldset class="register">
                                {{ form.non_field_errors }}
                                <input type="email" name="email" value="" placeholder="E-mail de recuperação*" required="True"/>
                                {{ field.errors }}
                                <button type="submit" class="btn but fright">Enviar e-mail</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}