{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<div>
			<a href="{% url 'core:home' %}">Home</a><span>/</span><a href="#">Conta - Criar</a>
		</div>
	</div>
{% endblock %}
{% block content %}
    <div>
		<h1>Conta - Criar</h1>
		<section>
			<h2>Informe os dados para cadastro</h2>
			<div>
				<div>
					<form method="post">
					{% csrf_token %}
						<fieldset class="register">
							{{ form.non_field_errors }}
							{% for field in form %}
							{{ field }}
							{{ field.errors }}
							{% endfor %}
							<button type="submit" class="btn but">Cadastrar</button>
						</fieldset>
					</form>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
