h1 {
    text-align: center !important;
    position:relative;
	line-height:31px;
	color:#000000;
	padding: 20px
    font-family: 'Muli', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
}

h1.home {
	padding-top: 20px;
	font-size: 70px;
    margin-bottom: 50px;
    margin-top: 20px;
}

h2 {
    position:relative;
	padding: 0 0 10px 0;
	line-height:31px;
	font-size:25px;
	color:#000000;
    margin-left: 10px;
	background:url(../images/line.jpg) left bottom no-repeat;
    text-align: left
}

h2 a {
	color:#000000;
	font-family: 'Muli', sans-serif;
	font-weight:900;
}
h2 a:hover {
	color: #aaaaaa;
	text-decoration:none;
}


section {
    background-color: #eeeeee;
    padding: 15px;
    padding-bottom: 12px;
    margin: 5px;
    text-align: center !important;
}

section.dashnihil {
    padding-bottom: 95px;
}


h2.dashnihil {
    background:none;
    text-align: center;
}

a.dashnihil {
    margin: 0px auto;
    margin-top: 50px;
}

ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}


p {
	position: relative;
	text-align: justify;
	text-indent: 50px;
    margin: 10px;
}

p.nome {
	text-align: left;
	text-indent: 0px;
}

p.home {
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
    text-indent: 0px;
}
p.last {
	text-align: center;
	font-size: 25px;
	padding-top: 20px;
    padding-bottom: 40px;
    text-indent: 0px;
}

hr {
	border: 0.5px solid #aaaaaa;
}

hr.article {
	border: 0.1px solid #eeeeee;
}

footer.category {
    float: right;
	font-size: 8px;
    margin-right: 10px;
}

footer.date {
	float: right;
    font-size: 8px;
    margin-right: 10px;	
	background:url(../images/line.jpg) right bottom no-repeat;
}

footer.detail {
	float: right;
    font-size: 8px;
    margin-right: 10px;	
}

iframe {
	width: 100%;
	height:1200px;
	border: none;
}

span.home {
	color: #aaaaaa;
}

.but {
	width: 150px;
	background: #000000;
	color: #ffffff;
    font-weight: 900;
}

.but:hover {
	background: #aaaaaa;
	color: #000000;
}

fieldset {
	display: block;
	padding: 10px;
	border: 1px solid black;
	margin: 20px;
}

fieldset input {
	margin: 10px;
}

fieldset textarea{
    margin: 10px;
}

fieldset button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact input {
    width: 31%;
}

.contact textarea {
    display: grid;
    margin: 10px;
	width: 97.8%;
	height: 100px; 
}

.login {
    width: 50%;
    margin: 0px auto;
}

.login input {
	width: 45%;
}

.register #id_username {
    width: 31%;
}

.register #id_password1 {
    width: 31%;
}

.register #id_password2 {
    width: 31%;
}

.register #id_first_name {
    width: 41%;
}

.register #id_last_name {
    width: 54.4%;
}

.register #id_email {
    width: 97.8%;
}

.edit {
    width: 80%;
    margin: 0px auto;
}

.edit #id_username {
    width: 31%;
}

.edit #id_email {
    width: 63%
}

.edit #id_first_name {
    width: 40%;
}

.edit #id_last_name {
    width: 53.8%;
}

.password {
    width: 70%;
    margin: 0px auto;
}

.password input {
    width: 25%;
}

.publication input {
    width: 31%;
}

.publication textarea {
    display: grid;
    margin: 10px;
	width: 97.8%;
	height: 100px; 
}

.publication #id_title {
    width: 97.8%;
}

.publication #id_category {
    width: 31%;
    
}

.publication #id_content {
    width: 64.5%;
}

aside a:hover, a:focus {
	text-decoration:none;
	color:#aaaaaa;
}

aside a {
	text-decoration:none;
	color:#000000;
}

aside ul {
    list-style: none;
    padding-left: 10px;
}

aside fieldset {
    width: 165px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/











































