a, input, select, textarea {
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

textarea {
	resize: none;
}

body {
	overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'Muli', sans-serif;
	font-weight:100;
	font-size: 16px;
	line-height: 20px;
}

.box_shadow {
	background:#ffffff;
	padding:50px 20px 0px 20px;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.header {
	padding: 0 20px;
	margin: 0 -20px;
	background: #ffffff;
}

.fleft {
    float:left;
}

.fright {
    float:right;
}

.clear {
	height:0;
	clear:both;
	font-size:0;
}

.logo {
	width:31%;

}

.navbar {
    margin:0; 
    margin-top:20px;
}

.menu_wrap .nav li {
	margin: 0;
	padding: 0;
	position: relative;
	zoom: 1;
	display:inline-block;
}
.menu_wrap .nav li:first-child {
	border-left: 0;
	padding-left:0;
}
#main_menu select {
	display: none;
	background-color: #ffffff;
	border: 1px solid #000000;
	color:#000000;
}
.menu_wrap .nav li:first-child a {
}

.menu_wrap .nav li a {
	position:relative;
	z-index:10;
	padding:0 20px;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
	font-weight:400;
	line-height:40px;
	color: #000000;
	font-size:15px;
	text-align:left;
	text-shadow: none;
}

.menu_wrap .nav li:hover a,
.menu_wrap .nav li.current:hover a,
.menu_wrap .nav li.current a {
	background:#000000;
	color:#ffffff;
}

.sub-menu > a {position: relative;
}

.menu_wrap .nav ul {
	position: absolute;
	display: none;
	width: 160px;
	left: 0;
	top: 40px;
	list-style: none;
	zoom: 1;
	z-index: 25;
	padding: 0;
	margin: 0;
	border:1px solid #000000;
	border-top:2px solid #000000;
}

.menu_wrap .nav  .sub-menu li  {
	margin:0;
	padding:0;
	width:100%;
	border-top: 1px solid #000000;

}

.menu_wrap .nav  .sub-menu li:first-child  {
	border-top: 0;
}
.menu_wrap .nav ul li a {
	display: block;
	margin: 0 !important;
	padding: 7px 5px 7px 20px;
	text-transform: none;
	font-size: 12px;
	font-weight:400;
	color:#000000 !important;
	line-height: 18px;
	background:#ffffff !important;
	text-shadow: none;
	border: 0;

}
.menu_wrap .nav ul li a span {
    display:none;
}

.menu_wrap .nav > li > ul li > a:hover,
.menu_wrap .nav > li > ul li.current > a {
	text-decoration: none;
	color:#000000 !important;
}

.menu_wrap .nav ul ul {
  position: absolute;
  display: none;
  width: 133px;
  left: 133px;
  top: -6px;
  height: auto;
  list-style: none;
  z-index: 111;
  padding: 14px 0 7px 0;
  margin: 0;
  border-top:0;
}

.page_container {
	padding-bottom:30px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	color:#000000;
    font-family: 'Muli', sans-serif;
}

.footer_bottom {
	margin:0 -20px;
	background:#ffffff;
	padding:20px 0 10px;
    margin-top: 20px;
}

.copyright {
	padding:0;
	font-size:12px;
	color:#000000;
}
.breadcrumb {
	border-radius: 0;
	background: none;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	background:#fafafa;
	padding: 12px 0;
	margin:0 -20px 20px;
	list-style: none;
	color:#000000;
}

.breadcrumb span {
	color:#000000;
	padding:0 5px;
}

.breadcrumb a {
	padding-left:20px;
	color:#000000;
}