<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
	<head>
		<title>Articles.Free</title>
		<meta charset="utf-8">		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Stylesheets -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/site.css' %}" rel="stylesheet">
		<link href="{% static 'css/my-style.css' %}" rel="stylesheet">
		<!-- Font -->
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>		   
	</head>
	<body>
		<div class="container box_shadow">		 
			<!--header-->
			<div class="header">
				<div>				
					<div>
						<div class="fleft logo">
							<a href="{% url 'core:home' %}">
								<img src="{% static 'images/logo.png' %}" alt="Articles.Free" />
							</a>
						</div>
						<div class="navbar fright">
							<nav id="main_menu">
								<div class="menu_wrap">
									<ul class="nav sf-menu">
										<li class="first"><a href="{% url 'core:home' %}">Home</a></li>
										<li class="sub-menu first"><a href="{% url 'articles:index' %}">Artigos</a></li>
										<li class="sub-menu first"><a href="#">Dashboard</a></li>
										<li class="sub-menu last"><a href="#">Entrar</a></li>
										<li class="last"><a href="{% url 'core:contact' %}">Contato</a></li>
									</ul>
								</div>
							</nav>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
	        <!--//header-->	        
		    <!--page_container-->
		    <div class="page_container">
		    	<div>
					{% block breadcrumb %}
					{% endblock %}
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<!--end page_container-->
			<!--footer-->				
			<div class="footer_bottom box_shadow">
				<div class="container">
					<div>
						<div class="fleft copyright">Articles.Free &copy; 2020 | Todos os direitos reservados</div>
						<div class="fright"><a href="{% url 'core:home' %}"><img src="{% static 'images/ico.png'%}"></a></div>
						<div class="clear"></div>
					</div>
				</div>
			</div>		
			<!--//footer-->
		</div>		
	</body>
</html>