{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}		    			        						
	<div>
		<div>
			<h1 class="home">Articles<span class="home">.Free</span></h1>
			<hr>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div>
		<h2 class="home">Bem vindo ao Articles.Free!</h2>												
		<section>							
			<p class="home">O Articles.Free é uma plataforma de publicação de artigos acadêmicos e científicos.
				<br>Fazendo um breve cadastro, você terá acesso a diversos artigos das mais variadas áreas do
				conhecimento.<br>Você entrará no universo do conhecimento, terá contato com as descobertas nos
				ramos da ciência, tecnologia e muitas outras áreas.</p>
			<p class="home">E mais! Você também poderá publicar os seus artigos.<br>Venha fazer parte!</p>
			<p class="home"><strong>Compartilhe CONHECIMENTO!</strong></p>
		</section>
	</div>
{% endblock %}
				